* {
    padding: 0;
    margin: 0;
}

#hide-yellow-line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
}

/* .grid-guidlines {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(12, 1fr);
    gap: 10px;
    z-index: 5;
}

.grid-item {
    border: 1px solid yellow;
} */

#background-container {
    height: 100vh;
    width: 100vw;
    background-image: url("./pink-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: fixed;
}

#main-content-container {
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

    display: flex;
    flex-wrap: wrap;

    min-height: 100vh;

    align-content: center;
}

#main-text {
    width: 100%;
    height: auto;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 10px 15px;
    border-radius: .8vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    margin-bottom: 20px;
}

#main-heading {
    width: 100%;
}

#subheading {
    width: 100%;
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1.6vw;
}

h3 {
    font-size: 1vw;
    margin-top: .2vw;
}

p {
    font-size: .7vw;
}

#icon-grid-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;    
}

.icon-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    /* background-color: blue; */
    border-radius: .8vw;
}

.icon-container:hover {
    cursor: pointer;
}

.astro-icon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

button.icon-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: transparent;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.3);
}



#your-horoscope {
    font-size: 32px;
    background-color: hsla(0, 0%, 0%, 0.4);
    padding: 20px;
    border-radius: .8vw;
}

#retry-button:hover {
    cursor: pointer;
}

#retry-button {
    font-size: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: violet;
    border: 1px solid white;
    border-radius: .8vw;
}





