* {
    padding: 0;
    margin: 0;
}

#hide-yellow-line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
}

#background-container {
    height: 100vh;
    width: 100vw;
    background-image: url("./pink-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: fixed;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(240px, 900px) 1fr;
    grid-template-areas: 
        '. main .';
    gap: 50px;
}

main {
    grid-area: main;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
}

#main-text {
    background-color: hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 40px;
    min-width: 280px;
    box-sizing: border-box;
    padding: 20px 15px;
}

h1 {
    font-size: clamp(2.75rem, 4vw, 4rem);
}

h2 {
    font-size: clamp(1.1rem, 1.75vw, 1.9rem);
}

h3 {
    font-size: 1.4rem;
    margin-top: .4rem;
}

p {
    font-size: .8rem;
}

#icon-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
}

.icon-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    /* background-color: blue; */
    border-radius: 20px;
}

.icon-container:hover {
    cursor: pointer;
}

.astro-icon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

button.icon-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: transparent;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.3);
}



#your-horoscope {
    display: none;
    /* font-size: 32px; */
    background-color: hsla(0, 0%, 0%, 0.4);
    padding: 20px;
    border-radius: 20px;
    min-height: 33vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

#your-horoscope p {
    font-size: clamp(1.5rem, 1.75vw, 1.9rem);
}

#retry-button:hover {
    cursor: pointer;
}

#retry-button {
    font-size: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: violet;
    border: 1px solid white;
    border-radius: 20px;
    width: max-content;
}

@media screen and (max-width: 979px) {
    #icon-grid-container {
        grid-template-columns: repeat(4, minmax(130px, 1fr));
    }

    main {
        margin: 40px 0;
    }
}

@media screen and (max-width: 679px) {
    #icon-grid-container {
        grid-template-columns: repeat(3, minmax(130px, 1fr));
    }
}

@media screen and (max-width: 529px) {
    #icon-grid-container {
        grid-template-columns: repeat(2, minmax(130px, 1fr));
    }
}

@media screen and (max-width: 379px) {
    #main-grid {
        gap: 40px;
    }
}

@media screen and (max-width: 359px) {
    #main-grid {
        gap: 30px;
    }
}

@media screen and (max-width: 339px) {
    #main-grid {
        gap: 20px;
    }
}