* {
    padding: 0;
    margin: 0;
}

/* .grid-guidlines {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(12, 1fr);
    gap: 10px;
    z-index: 5;
}

.grid-item {
    border: 1px solid yellow;
} */

#galaxy-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    text-align: center;
    background-image: url("./pink-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(12, 1fr);
    gap: 20px;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

button.icon-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: transparent;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.3);
}

#hide-yellow-line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
}

#your-horoscope {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 5;
    font-size: 32px;
    background-color: hsla(0, 0%, 0%, 0.4);
    padding: 20px;
    border-radius: .8vw;
}

#retry-button:hover {
    cursor: pointer;
}

#retry-button {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
    font-size: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: violet;
    border: 1px solid white;
    border-radius: .8vw;
}

#main-text {
    grid-column: 4 / 10;
    grid-row: 2 / 4;
    height: 100%;
    width: auto;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding: 10px 15px;
    border-radius: .8vw;
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
}

#main-heading {
    /* grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3; */
    /* background-color: hsla(0, 0%, 0%, 0.5);
    padding: 20px; */
    width: 100%;
}

#subheading {
    /* grid-column: 4 / 10;
    grid-row: 3 / 4; */
    /* background-color: hsla(0, 0%, 0%, 0.5); */
    width: 100%;
}

.icon-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    /* background-color: blue; */
    border-radius: .8vw;
}

.icon-container:hover {
    cursor: pointer;
}

.astro-icon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    /* overflow: hidden; */
}

#aquarius {
    grid-column: 4 / 5;
    grid-row: 4 / 6;
}

#pisces {
    grid-column: 5 / 6;
    grid-row: 4 / 6;
}

#aries {
    grid-column: 6 / 7;
    grid-row: 4 / 6;
}

#taurus {
    grid-column: 7 / 8;
    grid-row: 4 / 6;
}

#gemini {
    grid-column: 8 / 9;
    grid-row: 4 / 6;
}

#cancer {
    grid-column: 9 / 10;
    grid-row: 4 / 6;
}

#leo {
    grid-column: 4 / 5;
    grid-row: 6 / 8;
}

#virgo {
    grid-column: 5 / 6;
    grid-row: 6 / 8;
}

#libra {
    grid-column: 6 / 7;
    grid-row: 6 / 8;
}

#scorpio {
    grid-column: 7 / 8;
    grid-row: 6 / 8;
}

#sagittarius {
    grid-column: 8 / 9;
    grid-row: 6 / 8;
}

#capricorn {
    grid-column: 9 / 10;
    grid-row: 6 / 8;
}

/* .main-text {
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
} */

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 1.6vw;
}

h3 {
    font-size: 1vw;
    margin-top: .2vw;
}

p {
    font-size: .7vw;
}



/* select {
    margin-top: 10px;
} */