* {
    padding: 0;
    margin: 0;
}

#hide-yellow-line {
    width: 100%;
    height: 3px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 2;
}

#background-container {
    height: 100vh;
    width: 100vw;
    background-image: url("./pink-opaque.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: fixed;
}

#main-grid {
    display: grid;
    grid-template-columns: 1fr minmax(240px, 900px) 1fr;
    grid-template-areas: 
        '. main .';
    gap: 50px;
}

main {
    grid-area: main;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-content: center;
    justify-content: center;
}

#main-text {
    background-color: hsla(0, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 40px;
    min-width: 280px;
    box-sizing: border-box;
    padding: 20px 15px;
    animation: zoomIn 3s ease-in 1s 1 normal both, glow 3.5s 2s 1 normal both;
    z-index: 1;
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 5px transparent;
        animation-timing-function: ease-in;
    }
    80% {
        box-shadow: 0 0 10px 15px white;
        animation-timing-function: ease-in;
    }
    100% {
        box-shadow: 0 0 10px 5px transparent;
    }
}

h1 {
    font-size: clamp(2.75rem, 4vw, 4rem);
}

h2 {
    font-size: clamp(1.1rem, 1.75vw, 1.9rem);
}

h3 {
    font-size: 1.4rem;
    margin-top: .4rem;
}

p {
    font-size: .8rem;
}

#icon-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 20px;
}

.icon-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    /* background-color: blue; */
    border-radius: 20px;
    animation: loopIn 7s linear 5.5s 1 normal backwards, glow 3.5s 10.5s 1 normal backwards;
    transition: transform 400ms ease, box-shadow 400ms ease;
}

#aquarius {
    animation-delay: 5.5s, 10.5s;
}

#pisces {
    animation-delay: 5.6s, 10.6s;
}

#aries {
    animation-delay: 5.7s, 10.7s;
}

#taurus {
    animation-delay: 5.8s, 10.8s;
}

#gemini {
    animation-delay: 5.9s, 10.9s;
}

#cancer {
    animation-delay: 6s, 11s;
}

#leo {
    animation-delay: 6.1s, 11.1s;
}

#virgo {
    animation-delay: 6.2s, 11.2s;
}

#libra {
    animation-delay: 6.3s, 11.3s;
}

#scorpio {
    animation-delay: 6.4s, 11.4s;
}

#sagittarius {
    animation-delay: 6.5s, 11.5s;
}

#capricorn {
    animation-delay: 6.6s, 11.6s;
}


@keyframes loopIn {
    0% {
        transform: rotate(0deg) translateX(300px) rotate(0deg) scale(0);
      }
    100% {
        transform: rotate(720deg) translateX(0px) rotate(-720deg);
      }
}

.icon-container:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 0 10px 5px #fff;
}



.astro-icon {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
}

button.icon-container {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: transparent;
    border: none;
    background-color: hsla(0, 0%, 0%, 0.3);
}



#your-horoscope {
    display: none;
    background-color: hsla(0, 0%, 0%, 0.4);
    padding: 20px;
    border-radius: 20px;
    min-height: 33vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    animation: zoomIn 3s ease-in 0s 1 normal forwards, glow 3.5s 1s 1 normal both;
}

#your-horoscope p {
    font-size: clamp(1.5rem, 1.75vw, 1.9rem);
}

#retry-button:hover {
    cursor: pointer;
}

#retry-button {
    font-size: 20px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fff;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    background-color: violet;
    border: 1px solid white;
    border-radius: 20px;
    width: max-content;
}

@media screen and (max-width: 979px) {
    #icon-grid-container {
        grid-template-columns: repeat(4, minmax(130px, 1fr));
    }

    main {
        margin: 40px 0;
    }
}

@media screen and (max-width: 679px) {
    #icon-grid-container {
        grid-template-columns: repeat(3, minmax(130px, 1fr));
    }
}

@media screen and (max-width: 529px) {
    #icon-grid-container {
        grid-template-columns: repeat(2, minmax(130px, 1fr));
    }
}

@media screen and (max-width: 379px) {
    #main-grid {
        gap: 40px;
    }
}

@media screen and (max-width: 359px) {
    #main-grid {
        gap: 30px;
    }
}

@media screen and (max-width: 339px) {
    #main-grid {
        gap: 20px;
    }
}